.register-container{
    width: 100%;
    max-width: 400px;
    height: 100%;
    min-height: 500px;
    padding:20px;
    background-color: #1a1a1a;
    margin: 50px auto;
    color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.register-container h2{
    color: #ff6600;
    margin-bottom: 20px;
    
}
.register-container label{
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
}
.register-container input{
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ff6600;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
.btn-register{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}
.btn-register:hover {
    background-color: #e55b00;
}
